{% extends "pages/base.jinja" %}

{%block title%}About page{%endblock%}

{%block content%}
<h1>About the author</h1>
        <section id="likes">
            <h2>things i like</h2>
            <div>
                <article>
                    <header>
                        <h3>Watermelon</h3>
                    </header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ex soluta, architecto dicta facere quam ut. Exercitationem, officia? Deserunt minus corporis tenetur provident maxime quia culpa. Voluptate exercitationem iure libero.</p>
                    <footer>
                        find out more <a href="#">here</a>
                    </footer>
                </article>

                <article>
                    <header>
                        <h3>KFC</h3>
                    </header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitate exercitation em iure libero.</p>
                    <footer>
                        find out more <a href="#">here</a>
                    </footer>
                </article>

                <article>
                    <header>
                        <h3>Kool Aid</h3>
                    </header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ex soluta, architecto dicta facere quam ut. Exercitationem, officia? Deserunt minus corporis tenetur provident maxime quia culpa. Voluptate exercitationem iure libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolorum, aperiam exercitationem tenetur doloremque omnis. Repellat voluptatum earum, tenetur cupiditate temporibus neque porro eum voluptatibus amet quae fugit! Quidem, pariatur!</p>
                    <footer>
                        find out more <a href="#">here</a>
                    </footer>
                </article>
            </div>
        </section>
{%endblock%}