{% extends "pages/.base.jinja" %}

{%block title%}Home page{%endblock%}

{%block content%}
<section id="Hero">
   <h1>Home</h1>
</section>

<section>
   <h2>Welcome!</h2>
   <p>lorem ipsum dolem sit amore desectum </p>
</section>
   
{%endblock%}
