{% extends "pages/.base.jinja" %}

{%block title%}Random{%endblock%}

{%block content%}
<section>
    <h2>Here is a lovely random number</h2>

    <article id="ranNum">

        {{ number }}

    </article>
</section>
{%endblock%}