{% extends "pages/.base.jinja" %}

{%block title%}Test page{%endblock%}

{%block content%}
<section>
    <h2>Testing Flask and Jinja</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque exercitationem natus aut non, animi consequuntur rerum impedit nesciunt nam, totam obcaecati architecto tempora ad molestias eum qui itaque excepturi incidunt?</p>
</section>
{%endblock%}